<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>チキンダイヤリー - デジタル日記帳 - 新規作成</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_diary.css') }}">
</head>
<body>
    <div id="create_diary" class="container">
        <h1 class="title-border">日記 - 新規作成</h1>

        <form action="{{ url_for('create_diary') }}" method="POST" class="modern-form" enctype="multipart/form-data">
            <label for="title">日記タイトル</label>
            <input type="text" id="title" name="title" required>
            
            <label for="content">内容</label>
            <textarea id="content" name="content" required></textarea>
            
            <label for="tags">タグ（カンマ区切り）</label>
            <input type="text" id="tags" name="tags" placeholder="例: 学校,友達,旅行">
            
            <label for="image">画像</label>
            <input type="file" id="image" name="image" accept="image/*">
            
            <button type="submit" class="button">日記を保存</button>
        </form>

        <a href="{{ url_for('index') }}" class="button">日記一覧に戻る</a>
    </div>
</body>
</html>
